@inject NavigationManager NavigationManager
@inject RegistrationDataService RegistrationDataService
@inject DialogService DialogService
@inject UserService userService
@inject SessionService sessionService
@using USIMentorshipWebApp.Data;
@using USIMentorshipWebApp.Shared.FullProfileInfo;
@using USIMentorshipWebApp.Shared.RequestMentorship;
@using USIMentorshipWebApp.Models;
@using Radzen
@using System.Text.Json

<div class="container-fluid">
    <div class="row px-3">
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Email</RadzenText>
                <RadzenTextBox MaxLength="30" Disabled="true" @bind-Value=@loggedInUser.EmailAddress class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Phone Number</RadzenText>
                <RadzenTextBox class="w-100" MaxLength="10" @bind-Value=@loggedInUser.PhoneNumber />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard Style="width:100">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Major</RadzenText>
                <RadzenTextBox MaxLength="30" class="w-100" @bind-Value="@loggedInUser.Major" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard Style="width:100">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Minor</RadzenText>
                <RadzenTextBox class="w-100" @bind-Value="@loggedInUser.Minor" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Current Position</RadzenText>
                <RadzenTextBox MaxLength="30" class="w-100" @bind-Value="@loggedInUser.CurrentPosition" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Class Year</RadzenText>
                <RadzenTextBox class="w-100" MaxLength="4" @bind-Value="@exampleGraduationYear" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Gender</RadzenText>
                <RadzenTextBox MaxLength="8" class="w-100" @bind-Value="@loggedInUser.Gender" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Role</RadzenText>
                <RadzenTextBox MaxLength="8" Disabled="true" class="w-100" @bind-Value="@roleName" />
            </RadzenCard>
        </div>
        @* <div>
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Industry</RadzenText>
                <RadzenDropDown @bind-SearchText=@industriesSearchText @bind-Value=@loggedInUser.Industry
                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Data=@industries AllowClear="true" Style="max-width:190px;" Name="Industry" />
            </RadzenCard>
        </div> *@
        <div class="col-md-12 col-lg-12 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">About</RadzenText>
                <RadzenTextArea class="col-md-6 col-lg-12 p-3 w-100 h-50" Style="resize:vertical" @bind-Value=@loggedInUser.Bio Cols="77"></RadzenTextArea>
            </RadzenCard>
        </div>
    </div>
</div>
<center>
    <RadzenButton Class="rz-mx-auto; rz-my-auto" Click=@SaveChanges Text="Save Changes" ButtonStyle="ButtonStyle.Success" />
    <RadzenButton Class="rz-mx-auto; rz-my-auto" Click=@SignOut Text="Sign Out" ButtonStyle="ButtonStyle.Danger" />
</center>


@code {
    List<Role> userRoles;
    User loggedInUser;
    public string? exampleGraduationYear;  
    private UserService _userService = new UserService();
    private UsiMentorshipApplicationContext _context = new UsiMentorshipApplicationContext();
    public string? roleName;

    // private string industriesSearchText = "";
    // public List<string> industries = new List<string>();

    protected override async void OnInitialized() //On Page Load
    {
        // industries = await RegistrationDataService.GetIndustriesAsync();
        loggedInUser = sessionService.SessionUser;
        userRoles = sessionService.Roles;

        exampleGraduationYear = loggedInUser.GraduationYear.ToString();
        if (userRoles.Any(role => role.RoleName == "Mentee")) //Mentee
        {
            roleName = "Mentee";
        }
        else if (userRoles.Any(role => role.RoleName == "Mentor")) //Mentor
        {
            roleName = "Mentor";
        }
    }

    void SignOut(MouseEventArgs args)
    {
        sessionService.Logout();
        NavigationManager.NavigateTo("/");
    }

    void SaveChanges()
    {
        _userService.UpdateUser(loggedInUser);
    }
}
