@inject NavigationManager NavigationManager
@inject DialogService DialogService
@using USIMentorshipWebApp.Data;
@using USIMentorshipWebApp.Shared.FullProfileInfo;
@using USIMentorshipWebApp.Shared.RequestMentorship;
@using USIMentorshipWebApp.Models;
@using Radzen
@using System.Text.Json

<div class="container-fluid">
    <div class="row px-3">
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Email</RadzenText>
                <RadzenTextBox MaxLength="30" @bind-Value=@userProfile.EmailAddress class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Phone Number</RadzenText>
                <RadzenTextBox class="w-100" MaxLength="10" @bind-Value=@userProfile.PhoneNumber /> 
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard Style="width:100">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Major</RadzenText>
                <RadzenTextBox MaxLength="30" class="w-100" @bind-Value="@userProfile.Major" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard Style="width:100">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Minor</RadzenText>
                <RadzenTextBox class="w-100" @bind-Value="@userProfile.Minor" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Current Position</RadzenText>
                <RadzenTextBox MaxLength="30" class="w-100" @bind-Value="@userProfile.CurrentPosition" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Class Year</RadzenText>
                <RadzenTextBox class="w-100" MaxLength="4" @bind-Value="@exampleGraduationYear" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Student ID</RadzenText>
                <RadzenTextBox MaxLength="12" Disabled="true" class="w-100" Value="1234567890" /> @*Will need to add field for student id, even if it is null*@
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Gender</RadzenText>
                <RadzenTextBox MaxLength="8" Disabled="true" class="w-100" @bind-Value="@userProfile.Gender" />
            </RadzenCard>
        </div>
        
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Role</RadzenText>
                <RadzenRadioButtonList Disabled="true" Value="2" TValue="int">  @*NEED TO COME BACK AND LOOK AT THIS*@
                    <Items>                                                     @*Should we make this a disabled text field since admin will handle change?*@
                        <RadzenRadioButtonListItem Text="Mentee" Value="1"/>
                        <RadzenRadioButtonListItem Text="Mentor" Value="2" />
                    </Items>
                </RadzenRadioButtonList>
            </RadzenCard>
        </div>
        <div class="col-md-12 col-lg-12 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">About</RadzenText>
                <RadzenTextArea class="col-md-6 col-lg-12 p-3 w-100 h-50" Style="resize:vertical" @bind-Value=@userProfile.Bio Cols="77"></RadzenTextArea>
            </RadzenCard>
        </div>
    </div>
</div>
<center>
    <RadzenButton Class="rz-mx-auto; rz-my-auto" Click=@SaveChanges Text="Save Changes" ButtonStyle="ButtonStyle.Success" />
    <RadzenButton Class="rz-mx-auto; rz-my-auto" Click=@SignOut Text="Sign Out" ButtonStyle="ButtonStyle.Danger" />
</center>


@code {
    // CascadingParameter attribute maps it to the parameter from the CascadingParameter in MentorMatch (does this by type)
    [CascadingParameter]
    //must have this property for the cascading dropdown
    public User userProfile { get; set; }

    public string exampleGraduationYear;  

    protected override void OnInitialized() //On Page Load
    {
        exampleGraduationYear = userProfile.GraduationYear.ToString();
    }

    private UserService _userService = new UserService();

    void SignOut(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/");
    }

    void SaveChanges()
    {
        _userService.UpdateUser(userProfile);
    }
}
