@inject NavigationManager NavigationManager
@inject RegistrationDataService registrationDataService
@inject DialogService DialogService
@inject UserService userService
@inject SessionService sessionService
@using USIMentorshipWebApp.Data;
@using USIMentorshipWebApp.Shared.FullProfileInfo;
@using USIMentorshipWebApp.Shared.RequestMentorship;
@using USIMentorshipWebApp.Shared.Dropdowns;
@using USIMentorshipWebApp.Models;
@using Radzen
@using System.Text.Json

<div class="container">
    <div class="row px-3">
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Email</RadzenText>
                <RadzenTextBox MaxLength="30" Disabled="true" @bind-Value=@loggedInUser.EmailAddress class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Date of Birth</RadzenText>
                <RadzenDatePicker @bind-Value=@loggedInUser.DateOfBirth Name="DateOfBirth" ShowCalendarWeek CurrentDateChanged=@OnCurrentBirthdateChanged DateFormat="MM/dd/yyyy" Min="DateTime.Today.AddYears(-110)" Max="DateTime.Today.AddYears(-18)" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Phone Number</RadzenText>
                <RadzenTextBox class="w-100" MaxLength="10" @bind-Value=@loggedInUser.PhoneNumber />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
            <SchoolDropdownProfile></SchoolDropdownProfile>
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard Style="width:100">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Major</RadzenText>
                <RadzenTextBox MaxLength="30" class="w-100" @bind-Value="@loggedInUser.Major" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard Style="width:100">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Minor</RadzenText>
                <RadzenTextBox class="w-100" @bind-Value="@loggedInUser.Minor" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Class Year</RadzenText>
                <RadzenDatePicker @bind-Value=@loggedInUser.GraduationYear Name="GraduationDate" ShowDays=false DateFormat="MM/yyyy"
                                  Min="DateTime.Today.AddYears(-110)" Max="DateTime.Today.AddYears(30)" CurrentDateChanged=@OnCurrentGraduationYearChanged />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Gender</RadzenText>
                <RadzenDropDown @bind-Value=@loggedInUser.Gender Data=@genders Style="max-width:160px;" Name="Gender" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Role</RadzenText>
                <RadzenTextBox MaxLength="8" Disabled="true" class="w-100" @bind-Value="@roleName" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">LinkedIn</RadzenText>
                <RadzenTextBox MaxLength="20" class="w-100" @bind-Value="@loggedInUser.LinkedInLink" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Industry</RadzenText>
                <RadzenDropDown @bind-SearchText=@industriesSearchText @bind-Value=@loggedInUser.Industry
                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Data=@industries AllowClear="true" Style="max-width:190px;" Name="Industry" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Current Position</RadzenText>
                <RadzenDropDown @bind-SearchText=@jobTitlesSearchText @bind-Value=@loggedInUser.CurrentPosition
                                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Data=@jobTitles AllowClear="true" Style="max-width:190px;" Name="CurrentPosition" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Company</RadzenText>
                <RadzenTextBox @bind-Value="@loggedInUser.Company" Name="Company" />
            </RadzenCard>
        </div>
        <div class="col-md-12 col-lg-12 p-3">
            <RadzenCard>
                <BusinessLocationDropdownProfile @ref="businessLocationDropdownProfile" />
            </RadzenCard>
        </div>

        <div class="col-md-12 col-lg-12 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">About</RadzenText>
                <RadzenTextArea class="col-md-6 col-lg-12 p-3 w-100 h-50" MaxLength="300" Style="resize:vertical" @bind-Value=@loggedInUser.Bio Cols="77"></RadzenTextArea>
            </RadzenCard>
        </div>
    </div>
</div>
<center>
    <RadzenButton Class="rz-mx-auto; rz-my-auto" Click=@SaveChanges Text="Save Changes" ButtonStyle="ButtonStyle.Success" />
    <RadzenButton Class="rz-mx-auto; rz-my-auto" Click=@SignOut Text="Sign Out" ButtonStyle="ButtonStyle.Danger" />
</center>


@code {
    List<Role> userRoles;
    User loggedInUser;
    BusinessLocationDropdownProfile businessLocationDropdownProfile;
    public string? exampleGraduationYear;
    public string? birthdate;
    private UserService _userService = new UserService();
    private UsiMentorshipApplicationContext _context = new UsiMentorshipApplicationContext();
    public string? roleName;

    private string jobTitlesSearchText = "";
    private string industriesSearchText = "";
    public List<string> jobTitles = new List<string>();
    public List<string> industries = new List<string>();
    public List<string> genders = new List<string> { "Male", "Female", "Other" };


    protected override async Task OnInitializedAsync() //On Page Load
    {
        loggedInUser = sessionService.SessionUser;
        userRoles = sessionService.Roles;
        industries = await registrationDataService.GetIndustriesAsync();
        jobTitles = await registrationDataService.GetJobTitlesAsync();
        
        exampleGraduationYear = loggedInUser.GraduationYear.ToString();
        birthdate = loggedInUser.DateOfBirth.ToString();
        if (userRoles.Any(role => role.RoleName == "Mentee")) //Mentee
        {
            roleName = "Mentee";
        }
        else if (userRoles.Any(role => role.RoleName == "Mentor")) //Mentor
        {
            roleName = "Mentor";
        }
    }

    void OnCurrentBirthdateChanged(DateTime args)
    {
        loggedInUser.DateOfBirth = new DateTime(args.Year, args.Month, 1);
    }
    void OnCurrentGraduationYearChanged(DateTime args)
    {
        loggedInUser.GraduationYear = new DateTime(args.Year, args.Month, 1);
    }

    void SignOut(MouseEventArgs args)
    {
        sessionService.Logout();
        NavigationManager.NavigateTo("/");
    }

    void SaveChanges()
    {
        _userService.UpdateUser(loggedInUser);
    }
}
