@page "/"
@using USIMentorshipWebApp.Models;
@using BlazorServerAuthenticationAndAuthorization.Authentication
@layout NotLoggedInLayout
@inject NavigationManager NavigationManager
@inject UserService UserService
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider authStateProvider
@inject UserService userService
@inject SessionService sessionService
@using USIMentorshipWebApp.Data
@inject SessionService sessionService

<PageTitle>Login - USI Mentorship Program</PageTitle>

<div class="our-row">
    @* COLUMN FOR IMAGE *@
    <div class="image-column">
        <img src="images/student-mentor-looking-at-taxes.jpg" alt="Student and Mentor looking at taxes">
    </div>
 <div class="login-column-container">
        <h1 class="default-margin">Login</h1>
        <div class="login-column">
                <EditForm Model="@loginModel" OnValidSubmit="@OnLogin">
                <img src="images/usi-logo-mentorship-program.png" alt="Student and Mentor looking at taxes">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="email">Email</label>
                        <InputText id="email" class="form-control" @bind-Value="@loginModel.Email" />
                        <ValidationMessage For="@(() => loginModel.Email)" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <InputText id="password" class="form-control" @bind-Value="@loginModel.Password" type="password" />
                        <ValidationMessage For="@(() => loginModel.Password)" />
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <!-- if you have correct credentials in, but click "Sign Up", it will take you to
                        the mentor match page becuase it is hitting the OnValidSubmit somehow. When you click
                        Sign Up, it will go to the landing page and then the mentor match right after
                        -->
                        <button class="btn btn-primary" @onclick="GoToSignUp">Sign Up</button>
                    <button class="btn btn-primary" @onclick="GoToPasswordResetPage">Forgot Password? Click Here</button>
                    </div>

                </EditForm>
        </div>
    </div>
</div>



@code {
    LoginModel loginModel = new LoginModel();


    private async Task ShowJavaScriptAlert(string message)
    {
        await JSRuntime.InvokeVoidAsync("alert", message);
    }

    private async Task OnLogin()
    {
        var user = UserService.GetUserByEmail(loginModel.Email);
        if (user != null && UserService.VerifyPassword(user, loginModel.Password))
        {
            sessionService.Login(user);
            NavigationManager.NavigateTo("/mentor-match");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "The username or password is incorrect. If you don't have an account Sign up");
        }
    }

    void OnRegister(string name)
    {
    }

    void OnResetPassword(string value, string name)
    {
    }

    void GoToMentorMatch(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/mentor-match");
    }

    void GoToSignUp(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/sign-up-landing-page");
    }
    void GoToPasswordResetPage(MouseEventArgs args)
    {
        Console.WriteLine("Navigating to ResetCodePage");
        NavigationManager.NavigateTo("/CreateNewPassword");
    }
}