@* This is the mentor match page! *@
@page "/mentor-match"
@layout MainLayout
@using USIMentorshipWebApp.Data

@*
    Make sure to add css to where display is none on the mobile mockup for
    the details. The user can then click the mentor to see more details.
    Maybe add a search button to this page so the database is queried
    less?
*@

<PageTitle>Mentor Match - USI Mentorship Program</PageTitle>

<h1>Mentor Match</h1>
<h6>Find the right mentor for you with the options below!</h6>

<MentorMatchSearchFields/>

<div class="row" style="justify-content:center;">
    @* CascadingValue allows us to pass down the userExample variable to next component to use it there *@
    <CascadingValue Value="@userExample1">
        <MentorResultCard/>
    </CascadingValue>

    <CascadingValue Value="@userExample2">
        <MentorResultCard />
    </CascadingValue>

    <CascadingValue Value="@userExample3">
        <MentorResultCard />
    </CascadingValue>

    <CascadingValue Value="@userExample4">
        <MentorResultCard />
    </CascadingValue>

    <CascadingValue Value="@userExample5">
        <MentorResultCard />
    </CascadingValue>

    <CascadingValue Value="@userExample3">
        <MentorResultCard />
    </CascadingValue>

    <CascadingValue Value="@userExample1">
        <MentorResultCard/>
    </CascadingValue>

</div>


@code {
    User userExample1 = new User
        {
            UserId = "U1",
            FirstName = "John",
            LastName = "Doe",
            Email = "johndoe@email.com",
            Industry = "IT",
            CurrentPosition = "Software Developer",
            Company = "Tech Corp",
            Major = "Computer Science",
            Minor = "Mathematics",
            Bio = "I have worked as a software developer for 10 years and graduated from USI in 2008. I have experience in Javascript, HTML, CSS, and C#. I look forward to a great semester!",
            LinkedIn = "www.linkedin.com",
            BusinessCountry = "USA",
            BusinessState = "California",
            BusinessCity = "San Francisco",
            ClassYear = "2022",
            Gender = "Male",
            ProfilePicturePath = "images/john-doe-profile-picture.png"
        };

    User userExample2 = new User
        {
            UserId = "U2",
            FirstName = "Jane",
            LastName = "Doe",
            Email = "janedoe@email.com",
            Industry = "Law",
            CurrentPosition = "Lawyer",
            Company = "Morgan and Morgan",
            Major = "Pre Law",
            Minor = "Informatics",
            Bio = "I have been in law for 20 years and have won over 200 cases. I look forward to meeting new students to help guide in your career!",
            LinkedIn = "www.linkedin.com",
            BusinessCountry = "USA",
            BusinessState = "Evansville",
            BusinessCity = "Indiana",
            ClassYear = "2007",
            Gender = "Female",
            ProfilePicturePath = "images/jane-doe-profile-picture.png"
        };

    User userExample3 = new User
        {
            UserId = "U3",
            FirstName = "Shawn",
            LastName = "Smith",
            Email = "shawnsmith@email.com",
            Industry = "Marine Biology",
            CurrentPosition = "Marine Biologist",
            Company = "Animal Science Inc.",
            Major = "Biology",
            Minor = "",
            Bio = "I have been a marine biologist for 30 years. I look forward to meeting new students to help guide in your career!",
            LinkedIn = "www.linkedin.com",
            BusinessCountry = "USA",
            BusinessState = "Owensboro",
            BusinessCity = "Kentucky",
            ClassYear = "2007",
            Gender = "Male",
            ProfilePicturePath = "images/shawn-smith-profile-picture.png"
        };

    User userExample4 = new User
    {
        UserId = "U4",
        FirstName = "Alissa",
        LastName = "Johnson",
        Email = "janedoe@email.com",
        Industry = "Law",
        CurrentPosition = "Lawyer",
        Company = "Morgan and Morgan",
        Major = "Pre Law",
        Minor = "Informatics",
        Bio = "I have been in law for 20 years and have won over 200 cases. I look forward to meeting new students to help guide in your career!",
        LinkedIn = "www.linkedin.com",
        BusinessCountry = "USA",
        BusinessState = "Evansville",
        BusinessCity = "Indiana",
        ClassYear = "2007",
        Gender = "Female",
        ProfilePicturePath = "images/jane-doe-profile-picture.png"
    };

    User userExample5 = new User
    {
        UserId = "U5",
        FirstName = "James",
        LastName = "Smith",
        Email = "jamessmith@email.com",
        Industry = "Criminal Justice",
        CurrentPosition = "Police Officer",
        Company = "NYPD",
        Major = "Forensics",
        Minor = "English",
        Bio = "I have been a police officer for 20 years and have never pulled over anyone in a speed trap. I look forward to meeting new students to help guide in your career!",
        LinkedIn = "www.linkedin.com",
        BusinessCountry = "USA",
        BusinessState = "New York",
        BusinessCity = "New York",
        ClassYear = "2007",
        Gender = "Male",
        ProfilePicturePath = "images/blank-profile-1.png"
    };
}