@using USIMentorshipWebApp.Data;
@using USIMentorshipWebApp.Models;

<div style="justify-content:flex-start;" class="main-row">
    <RadzenStack Orientation="Orientation.Vertical">
        <RadzenStack Orientation="Orientation.Horizontal" class="mt-4" Style="justify-content:flex-start !important;">
            <label style="font-size:12px;">@user.FirstName @user.LastName</label>
            <label style="font-size:12px;">@chat.DateOfCommunication</label>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal">
            <img src="@user.ProfilePicture" class="profile-image" alt="@user.FirstName @user.LastName Profile Picture">
            <RadzenCard Class="rz-p-3">
                <RadzenText TextStyle="TextStyle.Body1">@chat.CommunicationContent</RadzenText>
            </RadzenCard>
        </RadzenStack>
    </RadzenStack>

</div>

@code {
    [Parameter]
    public User user { get; set; }

    [Parameter]
    public MatchCommunicationDetail chat { get; set; }
}
