@page "/mentee-registration"
@layout NotLoggedInLayout

@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject UserService UserService
@using USIMentorshipWebApp.Models;
@using USIMentorshipWebApp.Data;
@using Radzen
@using System.Text.Json     
@inject SessionService sessionService

@* Added using radzen and system.text.json for validator
 *@

<PageTitle>Mentee Sign Up - USI Mentorship Program</PageTitle>

<div class="default-margin">
    <h1>Sign up as a Mentee</h1>


        <RadzenTemplateForm TItem="User" Data="@user" Submit="@OnSubmit">

        @* FIRSTNAME, LASTNAME *@
        <RadzenRow class="mb-4 mt-4" Gap="5">

            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenFormField Text="First Name:" AllowFloatingLabel="false" Variant=Variant.Flat>
                    <RadzenTextBox @bind-Value="@user.FirstName" MaxLength="45" Name="FirstName" />
                </RadzenFormField>
                <RadzenRequiredValidator Text="First name is required" Component="FirstName" />
            </RadzenStack>



            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenFormField Text="Last Name:" AllowFloatingLabel="false" Variant=Variant.Flat>
                    <RadzenTextBox @bind-Value="@user.LastName" MaxLength="45" Name="LastName" />
                </RadzenFormField>
                <RadzenRequiredValidator Text="Last name is required" Component="LastName" />
            </RadzenStack>
        </RadzenRow>

        @* EMAIL, PHONE NUMBER *@
        <RadzenRow class="mb-4" Gap="5">
            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenFormField Text="Email:" AllowFloatingLabel="false" Variant=Variant.Flat>
                    <RadzenTextBox @bind-Value="@user.EmailAddress" MaxLength="45" Name="EmailAddress" />
                </RadzenFormField>
                <RadzenRequiredValidator Text="Email address is required" Component="EmailAddress" />
            </RadzenStack>


            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenFormField Text="Phone Number:" AllowFloatingLabel="false" Variant=Variant.Flat>
                    <RadzenTextBox @bind-Value="@user.PhoneNumber" MaxLength="45" Name="PhoneNumber" />
                </RadzenFormField>
                <RadzenRequiredValidator Text="Phone number is required" Component="PhoneNumber" />
            </RadzenStack>
        </RadzenRow>

        @* LINKEDIN (its in its own row) *@
        <RadzenRow class="mb-4" Gap="5">
            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenFormField Text="LinkedIn Profile URL:" AllowFloatingLabel="false" Variant=Variant.Flat>
                    <RadzenTextBox @bind-Value="@user.LinkedInLink" MaxLength="45" Name="LinkedIn" />
                </RadzenFormField>
                <RadzenRequiredValidator Text="LinkedIn is required" Component="LinkedIn" />
            </RadzenStack>
        </RadzenRow>

            @* UPLOAD PROFILE PICTURE *@
            <RadzenRow class="mb-4">
                <RadzenUpload Url="upload/single" ChooseText="Upload Profile Picture" Style="width:180px; text-align:center;" Accept="image/*"></RadzenUpload>
            </RadzenRow>




            @* MAJOR, MINOR *@
            <h3>Education Information:</h3>
            <RadzenRow class="mb-4 mt-4" AlignItems="AlignItems.Center" Gap="25">

                <RadzenStack Orientation="Orientation.Vertical">

                    <RadzenFormField Text="Major:" AllowFloatingLabel="false" Variant=Variant.Flat>
                        <RadzenTextBox @bind-Value=@user.Major MaxLength="45" Name="Major" />
                    </RadzenFormField>
                    <RadzenRequiredValidator Text="Major is required" Component="Major" />


                    <RadzenFormField Text="Minor:" AllowFloatingLabel="false" Variant=Variant.Flat>
                        <RadzenTextBox @bind-Value="@user.Minor" MaxLength="45" Name="Minor" />
                    </RadzenFormField>

                </RadzenStack>
            </RadzenRow>



            @* BIRTHDATE, SELF-INTRODUCTION, MENTEES PER SEMESTER *@
            <h3>Further Profile Info</h3>
            <h6>Some of this information will be used in your profile for mentors to get a better idea of who you are</h6>


            <RadzenRow class="mb-4 mt-4" Gap="25">
                <div class="our-column">
@*                     <label>Self-Introduction</label> *@
                     <RadzenFormField Text="Self Introduction:" AllowFloatingLabel="false" Variant=Variant.Flat>
                    <RadzenTextArea @bind-Value=@user.Bio MaxLength="300" Name="Bio" Cols="40" Rows="6" aria-label=Self-Introduction: />
                    </RadzenFormField>
                    <RadzenRequiredValidator Text="Please enter a bio about yourself" Component="Bio"/>
                </div>
            </RadzenRow>


        @* PASSWORD *@
        <RadzenRow class="mb-4 mt-4" Gap="5">
            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenFormField Text="Password" AllowFloatingLabel="false">
                    <RadzenPassword @bind-Value="@user.Password" Name="Password" />
                </RadzenFormField>
                <RadzenRequiredValidator Text="Password is required" Component="Password" />
                <RadzenLengthValidator Min="6" Text="Password must be at least 6 characters long" Component="Password" />
            </RadzenStack>




            @* CONFIRM PASSWORD  *@
            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenFormField Text="Confirm Password" AllowFloatingLabel="false">
                    <RadzenPassword @bind-Value="@user.RepeatPassword" Name="ConfirmPassword" />
                </RadzenFormField>
                <RadzenRequiredValidator Text="Confirming password is required" Component="ConfirmPassword" />
                <RadzenCompareValidator Text="Passwords do not match" Value=@user.Password Component="ConfirmPassword" Visible=@(!string.IsNullOrEmpty(user.RepeatPassword)) />
            </RadzenStack>

        </RadzenRow>
       
        
            @* REGISTER, BACK TO LOGIN *@
            <RadzenRow>
                <RadzenButton Style="width:100px; font-size:14px;" Variant="Variant.Outlined" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Secondary"  Text="Register" />
                <RadzenButton Style="width:100px; font-size:14px;" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Secondary" Click="@GoToLogin" Text="Back To Login" />

            </RadzenRow>

        </RadzenTemplateForm>

</div>

@code {
    private User user = new User();

    private async Task OnSubmit()
    {
        // all mentees that sign up will be set that they go to USI
        user.School = "University of Southern Indiana";
        // Assume AddUser is updated to handle async operation if necessary
        await UserService.AddUserAsync(user, "Mentee");

        // automatically "Login" this newly created user
        sessionService.Login(user);

        NavigationManager.NavigateTo("/mentor-match");
    }

    void GoToLogin(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/");
    }
}
