@page "/mentee-registration"
@layout NotLoggedInLayout

@inject NavigationManager NavigationManager
@inject DialogService DialogService
@using USIMentorshipWebApp.Data;

<div class="default-margin">
    <h1>Sign up as a Mentee</h1>

    <RadzenRow class="mb-4 mt-4" Gap="25">
        @* FIRST NAME *@
        <RadzenFormField Text="First Name:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value=@FirstName />
        </RadzenFormField>

        @* LAST NAME *@
        <RadzenFormField Text="Last Name:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@LastName" />
        </RadzenFormField>
    </RadzenRow>

    <RadzenRow class="mb-4" Gap="25">
        @* EMAIL *@
        <RadzenFormField Text="Email:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@Email" />
        </RadzenFormField>

        @* PHONE NUMBER *@
        <RadzenFormField Text="Phone Number:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@PhoneNumber" />
        </RadzenFormField>
    </RadzenRow>

    <RadzenRow class="mb-4" Gap="25">
        @* LINKEDIN *@
        <RadzenFormField Text="LinkedIn Profile URL:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@LinkedInProfileURL" />
        </RadzenFormField>

        @* STUDENT ID *@
        <RadzenFormField Text="Student ID #:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@StudentIdNumber" />
        </RadzenFormField>
    </RadzenRow>

    <RadzenRow class="mb-4">
        @* UPLOAD PROFILE PICTURE *@
        <RadzenUpload Url="upload/single" ChooseText="Upload Profile Picture" Style="width:180px; text-align:center;" Accept="image/*"></RadzenUpload>
    </RadzenRow>

    <h3>Create a Password</h3>
    <RadzenRow class="mb-4 mt-4" Gap="25">
        @* PASSWORD *@
        <RadzenFormField Text="Password:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@Password" />
        </RadzenFormField>

        @* CONFIRM PASSWORD *@
        <RadzenFormField Text="Confirm Password:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@Password" />
        </RadzenFormField>
    </RadzenRow>

    <RadzenRow>
        <RadzenButton Style="width:100px; font-size:14px;" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Secondary" Click=@GoToNextPage Text="Register" />
        <RadzenButton Style="width:100px; font-size:14px;" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Secondary" Click=@GoToLogin Text="Back To Login" />
    </RadzenRow>
</div>

@code {
    string FirstName = "";
    string LastName = "";
    string Email = "";
    string Password = "";
    string PhoneNumber = "";
    string LinkedInProfileURL = "";
    string StudentIdNumber = "";

    void GoToNextPage(MouseEventArgs args)
    {
        // needs to make the user account by populating

        NavigationManager.NavigateTo("/mentor-match");
    }

    void GoToLogin(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/");
    }
}
