@page "/mentee-registration"
@layout NotLoggedInLayout

@inject NavigationManager NavigationManager
@inject DialogService DialogService
@using USIMentorshipWebApp.Models;
@using USIMentorshipWebApp.Data;
@using Radzen
@using System.Text.Json     
@* Added using radzen and system.text.json for validator
 *@

<PageTitle>Mentee Sign Up - USI Mentorship Program</PageTitle>

<div class="default-margin">
    <h1>Sign up as a Mentee</h1>

    <RadzenRow class="mb-4 mt-4" Gap="25">
        @* FIRST NAME *@
        <RadzenFormField Text="First Name:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox style="display: block" Name="FirstName" @bind-Value=@inputtedFirstName class="w-100" />
            <RadzenRequiredValidator Component="FirstName" Text="First name is required" Style="position: absolute" />

        </RadzenFormField>

        @* LAST NAME *@
        <RadzenFormField Text="Last Name:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox style="display: block" Name="LastName" @bind-Value=@inputtedLastName class="w-100" />
            <RadzenRequiredValidator Component="LastName" Text="Last name is required" Style="position: absolute" />

        </RadzenFormField>
    </RadzenRow>

    <RadzenRow class="mb-4" Gap="25">
        @* EMAIL *@
        <RadzenFormField Text="Email:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@inputtedEmail" />
            <RadzenEmailValidator Component="Email" Text="Provide a valid email address" Style="position: absolute" />
        </RadzenFormField>

        @* PHONE NUMBER *@
        <RadzenFormField Text="Phone Number:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@inputtedPhoneNumber" />
            <RadzenRequiredValidator Component="PhoneNumber" Text="Phone number is required" Style="position: absolute" />
            <RadzenRegexValidator Component="PhoneNumber" Text="10 digit phone number with area code" Pattern="\d{10}" Style="position: absolute" />
        </RadzenFormField>
    </RadzenRow>

    <RadzenRow class="mb-4" Gap="25">
        @* LINKEDIN *@
        <RadzenFormField Text="Paste LinkedIn Profile URL:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@inputtedLinkedInProfileURL" />
            <RadzenRegexValidator Component="PhoneNumber" Text="10 digit phone number with area code" Pattern="\d{10}" Style="position: absolute" />
            @* need to discuss approaches with this hyperlink validator *@
        </RadzenFormField>
    </RadzenRow>

    <RadzenRow class="mb-4">
        @* UPLOAD PROFILE PICTURE *@
        <RadzenUpload Url="upload/single" ChooseText="Upload Profile Picture" Style="width:180px; text-align:center;" Accept="image/*"></RadzenUpload>
        <RadzenRequiredValidator Component="HeadshotImg" Text="Headshot JPG or PNG required for registration" Style="position: absolute" />
    </RadzenRow>

    <h3>Further Profile Info</h3>
    <h6>Additional information may lead to more connections with mentors</h6>
    <RadzenRow class="mb-4 mt-4" Gap="25" AlignItems="AlignItems.Center">
        @* SELF-INTRODUCTION *@
        <div class="our-column">
            <label>Self-Introduction</label>
            <RadzenTextArea @bind-Value=@inputtedSelfIntroduction Cols="80" Rows="6" aria-label=Self-Introduction: />
            <RadzenLengthValidator Component="SelfIntro" Max="300" Text="Self-Introduction should be maximum 300 characters" />
        </div>
    </RadzenRow>

    <RadzenRow class="mb-4 mt-4" Gap="25">
        @* MAJOR *@
        <RadzenFormField Text="Major:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value=@inputtedMajor />
            <RadzenRequiredValidator Component="MajorInput" Text="Major is required" Style="position: absolute" />
        </RadzenFormField>

        @* MINOR *@
        <RadzenFormField Text="Minor:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@inputtedMinor" />
            @* only if applicable or make it required with an N/A value available for selection? *@
        </RadzenFormField>
    </RadzenRow>

    <h3>Create a Password</h3>
    <RadzenRow class="mb-4 mt-4" Gap="25">
        @* PASSWORD *@
        <RadzenFormField Text="Password:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenPassword Name="Password" @bind-Value="@inputtedPassword" />
            <RadzenRequiredValidator Component="Password" Style="position:absolute"/>
        </RadzenFormField>

        @* CONFIRM PASSWORD *@
        <RadzenFormField Text="Confirm Password:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenPassword Name="ConfirmPassword" @bind-Value="@inputtedPassword" />
            <RadzenRequiredValidator Component="ConfirmPassword" Text="Repeat your password" Style="position: absolute" />
            @* <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(ConfirmPassword)) Value=@inputtedPassword Component="RepeatPassword" Text="Passwords should be the same" Style="position: absolute" /> *@

        </RadzenFormField>
    </RadzenRow>

    <RadzenRow>
        <RadzenButton Style="width:100px; font-size:14px;" ButtonType="ButtonType.Submit" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Secondary" Click=@RegisterUser Text="Register" />
        <RadzenButton Style="width:100px; font-size:14px;" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Secondary" Click=@GoToLogin Text="Back To Login" />
    </RadzenRow>
</div>

@code {
    string inputtedFirstName = "";
    string inputtedLastName = "";
    string inputtedEmail = "";
    string? inputtedMajor;
    string? inputtedMinor;
    string inputtedPassword = "";
    string inputtedPasswordConfirmed = "";
    string? inputtedPhoneNumber;
    string inputtedLinkedInProfileURL = "";
    string inputtedSelfIntroduction = "";
    string inputtedGender = "";

    private UserService _userService = new UserService();

    void RegisterUser(MouseEventArgs args)
    {
        // needs to make the user account by populating


        // Hash the password
        string hashedPassword = _userService.HashPassword(inputtedPassword);

        //NavigationManager.NavigateTo("/mentor-match");
        User user = new User
        {
            FirstName = inputtedFirstName,
            LastName = inputtedLastName,
            EmailAddress = inputtedEmail,
            Password = inputtedPassword,
            ProfilePicutre = "profilePic.jpg",
            LinkedInLink = inputtedLinkedInProfileURL,
            Bio = inputtedSelfIntroduction,
            Status = "Active",
            Major = inputtedMajor,
            Minor = inputtedMinor,
            Gender = inputtedGender
        };

        // add the user
        _userService.AddUser(user, "Mentee");

        // go to the next page after making the user
        NavigationManager.NavigateTo("/mentor-match");
    }

    void GoToLogin(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/");
    }
    
}
