@page "/mentor-registration"
@layout NotLoggedInLayout

@inject NavigationManager NavigationManager
@inject DialogService DialogService
@using USIMentorshipWebApp.Models;
@using USIMentorshipWebApp.Data;

<PageTitle>Mentor Sign Up - USI Mentorship Program</PageTitle>

<div class="default-margin">
    <h1>Sign up as a Mentor</h1>

    <RadzenRow class="mb-4 mt-4" Gap="25">
        @* FIRST NAME *@
        <RadzenFormField Text="First Name:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value=@inputtedFirstName />
        </RadzenFormField>

        @* LAST NAME *@
        <RadzenFormField Text="Last Name:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@inputtedLastName" />
        </RadzenFormField>
    </RadzenRow>

    <RadzenRow class="mb-4" Gap="25">
        @* EMAIL *@
        <RadzenFormField Text="Email:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@inputtedEmail" />
        </RadzenFormField>

        @* PHONE NUMBER *@
        <RadzenFormField Text="Phone Number:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@inputtedPhoneNumber" />
        </RadzenFormField>
    </RadzenRow>

    <RadzenRow class="mb-4" Gap="25">
        @* LINKEDIN *@
        <RadzenFormField Text="LinkedIn Profile URL:" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenTextBox @bind-Value="@inputtedLinkedInProfileURL" />
        </RadzenFormField>
    </RadzenRow>

    <RadzenRow class="mb-4">
        @* UPLOAD PROFILE PICTURE *@
        <RadzenUpload Url="upload/single" ChooseText="Upload Profile Picture" Style="width:180px; text-align:center;" Accept="image/*"></RadzenUpload>
    </RadzenRow>

    <h3>Further Profile Info</h3>
    <h6>Some of this information will be used in your profile for students to see</h6>
    <RadzenRow class="mb-4 mt-4" Gap="25" AlignItems="AlignItems.Center">
        @* BIRTHDATE *@
        <div class="our-column">
            <RadzenLabel Text="Birthdate:" Style="margin-right: 4px; vertical-align: middle;" />
            <RadzenDatePicker @bind-Value=@inputtedBirthdate ShowCalendarWeek />
        </div>

         @* INDUSTRY *@
        <div class="our-column mb-2">
            <label>Industry:</label>
            <RadzenDropDown @bind-Value=@inputtedIndustry Data=@industriesList Style="max-width:160px;" />
        </div>

         @* CURRENT POSITION *@
         <RadzenFormField Text="Current Position:" AllowFloatingLabel="false" Variant=Variant.Flat>
             <RadzenTextBox @bind-Value="@inputtedCurrentPosition" />
         </RadzenFormField>
    </RadzenRow>

    <RadzenRow class="mb-4 mt-4" Gap="25">
         @* COMPANY *@
         <RadzenFormField Text="Company:" AllowFloatingLabel="false" Variant=Variant.Flat>
             <RadzenTextBox @bind-Value="@inputtedCompany" />
         </RadzenFormField>

        @* COMPANY WEBSITE *@
        <RadzenFormField Text="Company Website:" AllowFloatingLabel="false" Variant=Variant.Flat>
             <RadzenTextBox @bind-Value="@inputtedCompanyWebsite" />
        </RadzenFormField>

        @* MENTEES PER SEMESTER *@
        <div class="our-column mb-2">
            <label>Mentees Per Semester:</label>
            <RadzenDropDown @bind-Value=@inputtedMenteesPerSemester Data=@MenteesPerSemesterOptions Style="max-width:160px;" />
        </div>
    </RadzenRow>

    <RadzenRow class="mb-4 mt-4" Gap="25">
        @* SELF-INTRODUCTION *@
        <div class="our-column">
            <label>Self-Introduction</label>
             <RadzenTextArea @bind-Value=@inputtedSelfIntroduction Cols="80" Rows="6" aria-label=Self-Introduction: />
        </div>
    </RadzenRow>

     <RadzenRow class="mb-4 mt-4" Gap="25">
         @* MAJOR *@
         <RadzenFormField Text="Major:" AllowFloatingLabel="false" Variant=Variant.Flat>
             <RadzenTextBox @bind-Value=@inputtedMajor />
         </RadzenFormField>

         @* MINOR *@
         <RadzenFormField Text="Minor:" AllowFloatingLabel="false" Variant=Variant.Flat>
             <RadzenTextBox @bind-Value="@inputtedMinor" />
         </RadzenFormField>
     </RadzenRow>

    <h3>Create a Password</h3>
    <RadzenRow class="mb-4 mt-4" Gap="25">
        @* PASSWORD *@
        <RadzenFormField Text="Password" AllowFloatingLabel="false" Variant=Variant.Flat>
            <RadzenPassword @bind-Value="@inputtedPassword" />
        </RadzenFormField>

        @* CONFIRM PASSWORD *@
        <RadzenFormField Text="Confirm Password" AllowFloatingLabel="false" Variant=Variant.Flat>
             <RadzenPassword @bind-Value="@inputtedPassword" />
        </RadzenFormField>
    </RadzenRow>

    <RadzenRow>
        <RadzenButton Style="width:100px; font-size:14px;" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Secondary" Click=@RegisterUser Text="Register" />
        <RadzenButton Style="width:100px; font-size:14px;" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Secondary" Click=@GoToLogin Text="Back To Login" />
    </RadzenRow>
</div>

 @code {
    string inputtedFirstName = "";
    string inputtedLastName = "";
    string inputtedEmail = "";
    string inputtedMajor = "";
    string inputtedMinor = "";
    string inputtedPassword = "";
    string inputtedPasswordConfirmed = "";
    string inputtedPhoneNumber = "";
    string inputtedLinkedInProfileURL = "";
    string inputtedMenteesPerSemester = "";
    string inputtedBirthdate = "";
    string inputtedCurrentPosition = "";
    string inputtedCompany = "";
    string inputtedIndustry = "";
    string inputtedBusinessLocation = "";
    string inputtedCompanyWebsite = "";
    string inputtedSelfIntroduction = "";
    string inputtedGraduationYear = "";
    string inputtedGender = "";

    private UserService _userService = new UserService();

    void RegisterUser(MouseEventArgs args)
    {
        User user = new User
        {
            FirstName = inputtedFirstName,
            LastName = inputtedLastName,
            PhoneNumber = inputtedPhoneNumber,
            EmailAddress = inputtedEmail,
            Password = inputtedPassword,
            ProfilePicutre = "profilePic.jpg",
            LinkedInLink = inputtedLinkedInProfileURL,
            Bio = inputtedSelfIntroduction,
            Status = "Active",
            Major = inputtedMajor,
            Minor = inputtedMinor,
            Industry = inputtedIndustry,
            Company = inputtedCompany,
            CurrentPosition = inputtedCurrentPosition,
            DateOfBirth = "1990-01-01",
            GraduationYear = "2012",
            BusinessCountry = inputtedBusinessLocation,
            BusinessState = inputtedBusinessLocation,
            BusinessCity = inputtedBusinessLocation,
            Gender = inputtedGender
        };

        // add the user
        _userService.AddUser(user);

        // go to the next page after making the user
        NavigationManager.NavigateTo("/mentor-match");
    }

    // INDUSTRIES NEED TO COME FROM DATABASE AND BE OTHER OPTIONS
    public List<string> industriesList = new List<string> { "Technology", "Manufacturing", "Agriculture", "Engineering", "Healthcare", "Advertising and Marketing" };

    public List<string> MenteesPerSemesterOptions = new List<string> { "1", "2", "3", "4", "5", "No Limit" };

    void GoToNextPage(MouseEventArgs args)
    {
        // needs to make the user account by populating
        NavigationManager.NavigateTo("/mentor-match");
    }

    void GoToLogin(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/");
    }
}