@page "/admin-portal"
@layout MainLayout
@using USIMentorshipWebApp.Data


<h1>Admin Portal</h1>

<style>
    .rz-grid-table {
        width: unset;
    }
</style>


<RadzenTabs TabPosition="@TabPosition.Top" @bind-SelectedIndex=@selectedIndex>
    <Tabs>
        <RadzenTabsItem Text="Users">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10px" class="mt-2 mb-4">
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Text="Add New Order" Click="@InsertRow" Disabled="@(editMode == DataGridEditMode.Single && usersToInsert.Count() > 0)" />
                    <div style="white-space:nowrap; margin-left: 20px ">Edit Mode:</div>
                <RadzenSelectBar @bind-Value="@editMode" TextProperty="Text" ValueProperty="Value" style="margin-right: 16px"
                             Data="@(Enum.GetValues(typeof(DataGridEditMode)).Cast<DataGridEditMode>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Small"
                             Disabled="@(editMode == DataGridEditMode.Multiple && usersToInsert.Count() > 1)" />
            </RadzenStack>

        <RadzenDataGrid @ref="usersGrid" AllowAlternatingRows="false" AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true" EditMode="@editMode"
                        Data="@users" TItem="User" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" Sort="@Reset" Page="@Reset" Filter="@Reset" ColumnWidth="200px">
            <Columns>
                <RadzenDataGridColumn TItem="User" Property="UserId" Title="Order ID" Width="120px" Frozen="true" />
                <RadzenDataGridColumn TItem="User" Property="User.FirstName" Title="First Name" Width="280px">
                    <EditTemplate Context="user">
                        <RadzenDropDown @bind-Value="user.FirstName" Data="@users" TextProperty="CompanyName" ValueProperty="CustomerID" Style="width:100%; display: block;" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="User" Property="User.LastName" Title="Last Name" Width="220px">
                    <Template Context="user">
                        <RadzenImage Path="@user.Gender" style="width: 32px; height: 32px; border-radius: 16px; margin-right: 6px;" AlternateText="@(user.Industry)" />
                        @user.Gender
                    </Template>
                    <EditTemplate Context="user">
                        <RadzenDropDown @bind-Value="user.UserId" Data="@users" ValueProperty="EmployeeID" Style="width:100%; display: block;">
                            <Template>
                                <RadzenImage Path="@context.Photo" style="width: 20px; height: 20px; border-radius: 16px; margin-right: 6px;" />
                                @context.FirstName @context.LastName
                            </Template>
                        </RadzenDropDown>
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="User" Property="ClassYear" Title="Class Year" Width="200px">
                    <Template Context="user">
                        @user.ClassYear
                    </Template>
                    <EditTemplate Context="user">
                        <RadzenDatePicker @bind-Value="user.Gender" Style="width:100%" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="User" Property="Gender" Title="Gender">
                    <Template Context="user">
                        @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", user.Gender)
                    </Template>
                    <EditTemplate Context="user">
                        <RadzenNumeric @bind-Value="user.Company" Style="width:100%" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="User" Property="Minor" Title="Ship Name">
                    <EditTemplate Context="user">
                        <RadzenTextBox @bind-Value="user.Minor" Style="width:200px; display: block" Name="ShipName" />
                        <RadzenRequiredValidator Text="ShipName is required" Component="ShipName" Popup="true" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="User" Property="CurrentPosition" Title="Current Position">
                    <EditTemplate Context="user">
                        <RadzenTextBox @bind-Value="user.Industry" Style="width:200px; display: block" Name="Industry" />
                        <RadzenRequiredValidator Text="ShipCountry is required" Component="ShipCountry" Popup="true" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="User" Property="ShipCity" Title="ShipCity">
                    <EditTemplate Context="user">
                        <RadzenTextBox @bind-Value="user.Major" Style="width:200px; display: block" Name="Major" />
                        <RadzenRequiredValidator Text="ShipCity is required" Component="ShipCity" Popup="true" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="User" Context="order" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                    <Template Context="user">
                        <RadzenButton Icon="" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(user))" @onclick:stopPropagation="true">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(user))" @onclick:stopPropagation="true">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="user">
                        <RadzenButton Icon="" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(user))">
                        </RadzenButton>
                        <RadzenButton Icon="" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(user))">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(user))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenDataGridColumn>
            </Columns>
</RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Chats">
            Chats
        </RadzenTabsItem>
        <RadzenTabsItem Text="Matches">
            Matches
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@code {
    TabPosition tabPosition = TabPosition.Top;
    RadzenDataGrid<User> usersGrid;
    IEnumerable<User> users;
    IEnumerable<User> users1;
    IEnumerable<User> users2;

    DataGridEditMode editMode = DataGridEditMode.Single;

    List<User> usersToInsert = new List<User>();
    List<User> usersToUpdate = new List<User>();

    int selectedIndex = 0;


    void Reset()
    {
        usersToInsert.Clear();
        usersToUpdate.Clear();
    }

    void Reset(User user)
    {
        usersToInsert.Remove(user);
        usersToUpdate.Remove(user);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // customers = dbContext.Customers;
        // employees = dbContext.Employees;

        // orders = dbContext.Orders.Include("Customer").Include("Employee");
    }

    async Task EditRow(User user)
    {
        if (editMode == DataGridEditMode.Single && usersToInsert.Count() > 0)
        {
            Reset();
        }

        usersToUpdate.Add(user);
        await usersGrid.EditRow(user);
    }

    void OnUpdateRow(User user)
    {
        // Reset(order);

        // dbContext.Update(order);

        // dbContext.SaveChanges();
    }

    async Task SaveRow(User user)
    {
        await usersGrid.UpdateRow(user);
    }

    void CancelEdit(User user)
    {
        Reset(user);

        usersGrid.CancelEditRow(user);

        // var orderEntry = dbContext.Entry(user);
        // if (orderEntry.State == EntityState.Modified)
        // {
        //     orderEntry.CurrentValues.SetValues(orderEntry.OriginalValues);
        //     orderEntry.State = EntityState.Unchanged;
        // }
    }

    async Task DeleteRow(User user)
    {
        Reset(user);

        // if (user.Contains(user))
        // {
        //     dbContext.Remove<Order>(order);

        //     dbContext.SaveChanges();

        //     await ordersGrid.Reload();
        // }
        // else
        // {
        //     ordersGrid.CancelEditRow(order);
        //     await ordersGrid.Reload();
        // }
    }

    async Task InsertRow()
    {
        if (editMode == DataGridEditMode.Single)
        {
            Reset();
        }

        // var order = new Order();
        // ordersToInsert.Add(order);
        // await ordersGrid.InsertRow(order);
    }

    void OnCreateRow(User user)
    {
        // dbContext.Add(order);

        // dbContext.SaveChanges();

        // ordersToInsert.Remove(order);
    }
}
